*,
*::after,
*,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
}
.header__box {
  width: 283px;
  display: flex;
  justify-content: space-between;
}
.header__box-link {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9230769277px;
  text-align: left;
  color: #83888f;
}
.header__box-link:hover {
  color: #0e8784;
}
.header-menu {
  display: none;
}

@media screen and (min-width: 350px) and (max-width: 689px) {
  .header-icon {
    width: 190px;
    margin-right: 20px;
  }
  .header__box {
    width: 200px;
  }
  .header__box-link {
    font-size: 7px;
  }
}
@media screen and (max-width: 400px) {
  .header .container {
    align-items: center;
  }
  .header-icon {
    width: 163px;
  }
  .header .container {
    position: relative;
  }
  .header__box {
    display: none;
  }
  .header-menu {
    display: block;
    position: absolute;
    right: 5px;
  }
}
.hero .container {
  background: url(../../images/hero-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  width: 100%;
  height: 600px;
  border-radius: 20px;
  padding-left: 85px;
  display: flex;
  align-items: center;
}
.hero__box-title {
  font-family: Fraunces;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  text-align: left;
  max-width: 493px;
  color: #fefcf7;
}
.hero__box-text {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #fefcf7;
  width: 493px;
  padding-top: 32px;
  padding-bottom: 56px;
}
.hero__box-link {
  padding: 15px 31px;
  font-family: Fraunces;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  background-color: #0e8784;
  border-radius: 6px;
  text-align: center;
  color: #fefcf7;
}
.hero__box-link:hover {
  background-color: #66d2cf;
}
.hero__box-link:active {
  background-color: #e2dedb;
}

@media screen and (max-width: 578px) {
  .hero .container {
    padding-left: 50px;
  }
  .hero__box-title {
    font-size: 60px;
    font-weight: 900;
    line-height: 53px;
    text-align: left;
    width: 390px;
  }
  .hero__box-text {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #fefcf7;
    width: 380px;
    padding-top: 32px;
    padding-bottom: 56px;
  }
  .hero__box-link {
    padding: 15px 31px;
    font-family: Fraunces;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    background-color: #0e8784;
    border-radius: 6px;
    text-align: center;
    color: #fefcf7;
  }
}
@media screen and (max-width: 443px) {
  .hero .container {
    justify-content: center;
  }
  .hero__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero__box-title {
    font-size: 50px;
    font-weight: 900;
    line-height: 50px;
    text-align: center;
    width: 330px;
  }
  .hero__box-text {
    font-family: Barlow;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #fefcf7;
    width: 327px;
    padding-top: 18px;
    padding-bottom: 44px;
  }
  .hero__box-link {
    padding: 15px 31px;
    font-family: Fraunces;
    font-size: 18px;
    font-weight: 900;
    line-height: 25px;
    background-color: #0e8784;
    border-radius: 6px;
    text-align: center;
    color: #fefcf7;
  }
}
.plan {
  margin-top: 120px;
}
.plan .container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.plan-img {
  width: 1111px;
  height: 196px;
  position: absolute;
  left: 7%;
  z-index: -10;
}
.plan__list {
  padding-top: 124px;
  display: flex;
  justify-content: space-between;
  top: 40px;
}
.plan__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.plan__list-box {
  padding-top: 70px;
}
.plan__list-title {
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  padding-bottom: 24px;
  color: #333d4b;
}
.plan__list-text {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  width: 282px;
  color: #333d4b;
}

@media screen and (max-width: 1191px) {
  .plan {
    margin-top: 120px;
  }
  .plan .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .plan-img {
    width: 986px;
    height: 196px;
    position: absolute;
    left: 7%;
    z-index: -10;
  }
  .plan__list {
    padding-top: 124px;
    display: flex;
    justify-content: space-between;
    top: 40px;
  }
  .plan__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .plan__list-box {
    padding-top: 70px;
  }
  .plan__list-title {
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 24px;
  }
  .plan__list-text {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 250px;
  }
}
@media screen and (max-width: 1060px) {
  .plan {
    margin-top: 120px;
  }
  .plan .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .plan-img {
    width: 920px;
    height: 150px;
    position: absolute;
    left: 9%;
    z-index: -10;
  }
  .plan__list {
    padding-top: 124px;
    display: flex;
    justify-content: space-between;
    top: 40px;
  }
  .plan__list-img {
    width: 233px;
    height: 172px;
  }
  .plan__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .plan__list-box {
    padding-top: 30px;
  }
  .plan__list-title {
    font-family: Fraunces;
    font-size: 22px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 11px;
  }
  .plan__list-text {
    font-family: Barlow;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 189px;
  }
}
@media screen and (max-width: 1011px) {
  .plan {
    margin-top: 120px;
  }
  .plan .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .plan-img {
    width: 839px;
    height: 150px;
    position: absolute;
    left: 10%;
    z-index: -10;
  }
  .plan__list {
    padding-top: 124px;
    display: flex;
    justify-content: space-between;
    top: 40px;
  }
  .plan__list-img {
    width: 233px;
    height: 172px;
  }
  .plan__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .plan__list-box {
    padding-top: 30px;
  }
  .plan__list-title {
    font-family: Fraunces;
    font-size: 22px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 11px;
  }
  .plan__list-text {
    font-family: Barlow;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 189px;
  }
}
@media screen and (max-width: 972px) {
  .plan {
    margin-top: 120px;
  }
  .plan .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .plan-img {
    width: 790px;
    height: 151px;
    position: absolute;
    left: 12%;
    z-index: -10;
  }
  .plan__list {
    padding-top: 124px;
    display: flex;
    justify-content: space-between;
    top: 40px;
  }
  .plan__list-img {
    width: 216px;
    height: 163px;
  }
  .plan__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .plan__list-box {
    padding-top: 30px;
  }
  .plan__list-title {
    font-family: Fraunces;
    font-size: 22px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 11px;
  }
  .plan__list-text {
    font-family: Barlow;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 189px;
  }
}
@media screen and (max-width: 904px) {
  .plan {
    margin-top: 120px;
  }
  .plan .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .plan-img {
    width: 723px;
    height: 141px;
    position: absolute;
    left: 12%;
    z-index: -10;
  }
  .plan__list {
    padding-top: 124px;
    display: flex;
    justify-content: space-between;
    top: 40px;
  }
  .plan__list-img {
    width: 182px;
    height: 137px;
  }
  .plan__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .plan__list-box {
    padding-top: 30px;
  }
  .plan__list-title {
    font-family: Fraunces;
    font-size: 22px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 11px;
  }
  .plan__list-text {
    font-family: Barlow;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 189px;
  }
}
@media screen and (max-width: 822px) {
  .plan {
    margin-top: 120px;
  }
  .plan .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .plan-img {
    width: 650px;
    height: 141px;
    position: absolute;
    left: 12%;
    z-index: -10;
  }
  .plan__list {
    padding-top: 124px;
    display: flex;
    justify-content: space-between;
    top: 40px;
  }
  .plan__list-img {
    width: 182px;
    height: 137px;
  }
  .plan__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .plan__list-box {
    padding-top: 30px;
  }
  .plan__list-title {
    font-family: Fraunces;
    font-size: 22px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 11px;
  }
  .plan__list-text {
    font-family: Barlow;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    width: 189px;
  }
}
@media screen and (max-width: 796px) {
  .plan {
    margin-top: 120px;
  }
  .plan .container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .plan-img {
    width: 611px;
    height: 123px;
    position: absolute;
    left: 12%;
    z-index: -10;
  }
  .plan__list {
    padding-top: 124px;
    display: flex;
    justify-content: space-between;
    top: 40px;
  }
  .plan__list-img {
    width: 148px;
    height: 108px;
  }
  .plan__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .plan__list-box {
    padding-top: 20px;
  }
  .plan__list-title {
    font-family: Fraunces;
    font-size: 17px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 4px;
  }
  .plan__list-text {
    font-family: Barlow;
    font-size: 10px;
    font-weight: 500;
    line-height: 26px;
    text-align: center;
    width: 150px;
  }
}
@media screen and (max-width: 694px) {
  .plan {
    margin-top: 120px;
  }
  .plan .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .plan-img {
    width: 475px;
    height: 123px;
    position: unset;
    z-index: -10;
  }
  .plan__list {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plan__list-img {
    width: 148px;
    height: 108px;
  }
  .plan__list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 32px;
  }
  .plan__list-box {
    padding-top: 0px;
    padding-left: 35px;
  }
  .plan__list-title {
    font-family: Fraunces;
    font-size: 17px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
    padding-bottom: 4px;
  }
  .plan__list-text {
    font-family: Barlow;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    text-align: left;
    width: 186px;
  }
}
@media screen and (max-width: 480px) {
  .plan {
    margin-top: 120px;
  }
  .plan .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .plan-img {
    width: 373px;
    height: 66px;
    position: unset;
    z-index: -10;
  }
  .plan__list {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plan__list-img {
    width: 200px;
    height: 151px;
  }
  .plan__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }
  .plan__list-box {
    padding-top: 0px;
    padding-left: 0;
  }
  .plan__list-title {
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 16px;
  }
  .plan__list-text {
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 373px) {
  .plan {
    margin-top: 120px;
  }
  .plan .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .plan-img {
    width: 343px;
    height: 60px;
    position: unset;
    z-index: -10;
  }
  .plan__list {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .plan__list-img {
    width: 200px;
    height: 151px;
  }
  .plan__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }
  .plan__list-box {
    padding-top: 0px;
    padding-left: 0;
  }
  .plan__list-title {
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 16px;
  }
  .plan__list-text {
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
  }
}
.choose {
  margin-top: 150px;
}
.choose .container {
  width: 100%;
  height: 577px;
  background-color: #333d4b;
  padding-top: 100px;
  border-radius: 20px;
}
.choose__wrap-title {
  font-family: Fraunces;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  text-align: center;
  color: #fefcf7;
  padding-bottom: 32px;
}
.choose__wrap-text {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  width: 50vw;
  margin: 0 auto;
  padding-bottom: 90px;
}
.choose__wrap__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.choose__wrap__list-item {
  display: flex;
  justify-content: center;
  width: 29vw;
  height: 30vw;
  flex-direction: column;
  align-items: center;
  background-color: #0e8784;
  border-radius: 20px;
}
.choose__wrap__list-title {
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 24px;
  color: #fefcf7;
}
.choose__wrap__list-text {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  width: 20vw;
}

@media screen and (max-width: 1020px) {
  .choose {
    margin-top: 150px;
  }
  .choose .container {
    width: 100%;
    height: 577px;
    background-color: #333d4b;
    padding-top: 100px;
    border-radius: 20px;
  }
  .choose__wrap-title {
    font-family: Fraunces;
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    text-align: center;
    color: #fefcf7;
    padding-bottom: 32px;
  }
  .choose__wrap-text {
    font-family: Barlow;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    color: #fefcf7;
    width: 50vw;
    margin: 0 auto;
    padding-bottom: 90px;
  }
  .choose__wrap__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .choose__wrap__list-item {
    display: flex;
    justify-content: center;
    width: 29vw;
    height: 30vw;
    flex-direction: column;
    align-items: center;
    background-color: #0e8784;
    border-radius: 20px;
  }
  .choose__wrap__list-img {
    width: 65px;
  }
  .choose__wrap__list-title {
    font-family: Fraunces;
    font-size: 22px;
    font-weight: 900;
    line-height: 11px;
    text-align: center;
    padding-top: 34px;
    padding-bottom: 24px;
    color: #fefcf7;
  }
  .choose__wrap__list-text {
    font-family: Barlow;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #fefcf7;
    width: 20vw;
  }
}
@media screen and (max-width: 860px) {
  .choose {
    margin-top: 150px;
  }
  .choose .container {
    width: 100%;
    height: 493px;
    background-color: #333d4b;
    padding-top: 100px;
    border-radius: 20px;
  }
  .choose__wrap-title {
    font-family: Fraunces;
    font-size: 37px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
    color: #fefcf7;
    padding-bottom: 19px;
  }
  .choose__wrap-text {
    font-family: Barlow;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #fefcf7;
    width: 50vw;
    margin: 0 auto;
    padding-bottom: 95px;
  }
  .choose__wrap__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .choose__wrap__list-item {
    display: flex;
    justify-content: center;
    width: 29vw;
    height: 30vw;
    flex-direction: column;
    align-items: center;
    background-color: #0e8784;
    border-radius: 20px;
  }
  .choose__wrap__list-img {
    width: 45px;
  }
  .choose__wrap__list-title {
    font-family: Fraunces;
    font-size: 20px;
    font-weight: 900;
    line-height: 11px;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 12px;
    color: #fefcf7;
  }
  .choose__wrap__list-text {
    font-family: Barlow;
    font-size: 11px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    color: #fefcf7;
    width: 20vw;
  }
}
@media screen and (max-width: 700px) {
  .choose {
    margin-top: 150px;
  }
  .choose .container {
    width: 100%;
    height: 493px;
    background-color: #333d4b;
    padding-top: 100px;
    border-radius: 20px;
  }
  .choose__wrap-title {
    font-family: Fraunces;
    font-size: 37px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
    color: #fefcf7;
    padding-bottom: 19px;
  }
  .choose__wrap-text {
    font-family: Barlow;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #fefcf7;
    width: 50vw;
    margin: 0 auto;
    padding-bottom: 95px;
  }
  .choose__wrap__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 24px;
  }
  .choose__wrap__list-item {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    height: 30vw;
    background-color: #0e8784;
    border-radius: 20px;
    padding: 0 20px 0 40px;
  }
  .choose__wrap__list-img {
    width: 70px;
    margin-right: 50px;
  }
  .choose__wrap__list-title {
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
  }
  .choose__wrap__list-text {
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
    width: 100%;
  }
}
@media screen and (max-width: 490px) {
  .choose {
    margin-top: 150px;
  }
  .choose .container {
    width: 100%;
    height: 493px;
    background-color: #333d4b;
    padding-top: 100px;
    border-radius: 20px;
  }
  .choose__wrap-title {
    font-family: Fraunces;
    font-size: 37px;
    font-weight: 900;
    line-height: 46px;
    text-align: center;
    color: #fefcf7;
    padding-bottom: 164px;
  }
  .choose__wrap-text {
    display: none;
    font-family: Barlow;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    color: #fefcf7;
    width: 50vw;
    margin: 0 auto;
    padding-bottom: 95px;
  }
  .choose__wrap__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 24px;
  }
  .choose__wrap__list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vw;
    background-color: #0e8784;
    border-radius: 20px;
    padding: 0;
    padding-top: 0;
  }
  .choose__wrap__list-img {
    width: 72px;
    height: 72px;
    margin-right: 0;
  }
  .choose__wrap__list-title {
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-top: 54px;
    padding-bottom: 20px;
  }
  .choose__wrap__list-text {
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
  }
}
.works {
  margin-top: 350px;
}
.works .container {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.works-title {
  font-family: Fraunces;
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-align: left;
  color: #83888f;
  padding-bottom: 80px;
}
.works__list {
  display: flex;
  gap: 95px;
  margin-bottom: 70px;
}
.works__list-item {
  width: 21vw;
  display: flex;
  flex-direction: column;
}
.works__list-span {
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #fefcf7;
  border: 2px solid #0e8784;
  margin-bottom: 67px;
}
.works__list-number {
  font-family: Fraunces;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  text-align: left;
  color: #fdd6ba;
}
.works__list-title {
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  text-align: left;
  width: 45vh;
  color: #333d4b;
  padding-top: 38px;
  padding-bottom: 42px;
}
.works__list-text {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #333d4b;
  text-align: left;
}
.works-link {
  font-family: Fraunces;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  text-align: center;
  padding: 15px 31px;
  background-color: #0e8784;
  color: #fefcf7;
  border-radius: 12px;
}
.works-link:hover {
  background-color: #66d2cf;
}

@media screen and (max-width: 805px) {
  .works {
    margin-top: 350px;
  }
  .works .container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .works-title {
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
    color: #83888f;
    padding-bottom: 80px;
  }
  .works__list {
    display: flex;
    gap: 95px;
  }
  .works__list-item {
    width: 21vw;
    display: flex;
    flex-direction: column;
  }
  .works__list-span {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-bottom: 48px;
  }
  .works__list-number {
    font-family: Fraunces;
    font-size: 65px;
    font-weight: 900;
    line-height: 69px;
    text-align: left;
    color: #fdd6ba;
  }
  .works__list-title {
    font-family: Fraunces;
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    width: 34vh;
    color: #333d4b;
    padding-top: 22px;
    padding-bottom: 20px;
  }
  .works__list-text {
    font-family: Barlow;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    color: #333d4b;
    text-align: left;
  }
}
@media screen and (max-width: 700px) {
  .works {
    margin-top: 650px;
  }
  .works .container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .works-title {
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
    color: #83888f;
    padding-bottom: 80px;
  }
  .works__list {
    display: flex;
    gap: 56px;
  }
  .works__list-item {
    width: 21vw;
    display: flex;
    flex-direction: column;
  }
  .works__list-span {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-bottom: 48px;
  }
  .works__list-number {
    font-family: Fraunces;
    font-size: 65px;
    font-weight: 900;
    line-height: 69px;
    text-align: left;
    color: #fdd6ba;
  }
  .works__list-title {
    font-family: Fraunces;
    font-size: 21px;
    font-weight: 900;
    line-height: 26px;
    text-align: left;
    width: 25vh;
    padding-top: 22px;
    padding-bottom: 20px;
  }
  .works__list-text {
    font-family: Barlow;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    color: #333d4b;
    text-align: left;
  }
}
@media screen and (max-width: 490px) {
  .works {
    margin-top: 1190px;
  }
  .works .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .works-title {
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 80px;
  }
  .works__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .works__list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 79px;
  }
  .works__list-span {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-bottom: 48px;
    display: none;
  }
  .works__list-number {
    font-family: Fraunces;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    text-align: center;
  }
  .works__list-title {
    font-family: Fraunces;
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    width: 200px;
    padding-top: 22px;
    padding-bottom: 20px;
  }
  .works__list-text {
    font-family: Barlow;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    color: #333d4b;
    text-align: center;
  }
}
@media screen and (max-width: 444px) {
  .works {
    margin-top: 1090px;
  }
  .works .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .works-title {
    font-family: Fraunces;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    padding-bottom: 80px;
  }
  .works__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .works__list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 79px;
  }
  .works__list-span {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-bottom: 48px;
    display: none;
  }
  .works__list-number {
    font-family: Fraunces;
    font-size: 72px;
    font-weight: 900;
    line-height: 72px;
    text-align: center;
  }
  .works__list-title {
    font-family: Fraunces;
    font-size: 28px;
    font-weight: 900;
    line-height: 32px;
    text-align: center;
    width: 200px;
    padding-top: 22px;
    padding-bottom: 20px;
  }
  .works__list-text {
    font-family: Barlow;
    font-size: 13px;
    font-weight: 400;
    line-height: 26px;
    color: #333d4b;
    text-align: center;
  }
}
.footer {
  margin-top: 100px;
  margin-bottom: 20px;
}
.footer .container {
  background-color: #333d4b;
  width: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
}
.footer__nav {
  display: flex;
  gap: 39px;
}
.footer__nav-link {
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.9230769277px;
  text-align: left;
  color: #83888f;
}
.footer__nav-link:hover {
  color: #fefcf7;
}
.footer__subnav {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 700px) {
  .footer {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .footer .container {
    background-color: #333d4b;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
  }
  .footer__nav {
    display: flex;
    gap: 39px;
  }
  .footer__nav-link {
    font-family: Barlow;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769277px;
    text-align: left;
    color: #83888f;
  }
  .footer__nav-link:hover {
    color: #fefcf7;
  }
  .footer__subnav {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}
@media screen and (max-width: 490px) {
  .footer {
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .footer .container {
    background-color: #333d4b;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 20px;
  }
  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 39px;
  }
  .footer__nav-link {
    font-family: Barlow;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0.9230769277px;
    text-align: center;
    color: #83888f;
  }
  .footer__nav-link:hover {
    color: #fefcf7;
  }
  .footer__subnav {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}